# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*.class
*.so
.venv/
venv/

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary build files
flashcards-build-*
